<section class="piece-details">
  <h2>{{piece.details.title}}</h2>
  <p>The look in your eyes, I recognize it. You used to have it for me. I'd like to think that I haven't changed those things, sir. Fate. It protects fools, little children, and ships named "Enterprise." You did exactly what you had to do. You considered all your options, you tried every alternative and then you made the hard choice.</p>
  <p>The look in your eyes, I recognize it. You used to have it for me. I'd like to think that I haven't changed those things, sir. Fate. It protects fools, little children, and ships named "Enterprise." You did exactly what you had to do. You considered all your options, you tried every alternative and then you made the hard choice.</p>
  <p>The look in your eyes, I recognize it. You used to have it for me. I'd like to think that I haven't changed those things, sir. Fate. It protects fools, little children, and ships named "Enterprise." You did exactly what you had to do. You considered all your options, you tried every alternative and then you made the hard choice.</p>
</section>
