@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,800');
body{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 200;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 1.6rem;
}
a{
  color:inherit  !important;
  text-decoration: none !important;
}
/*Background images*/

.sydneyBG{
  background: url('../img/sydneyau.jpg');
  color: white;

}
.portbgDiscover{
  background: url('../img/discovercs.png');
}
.portbgExcel{
  background: url('../img/excelinfinity.png');
}
.portbgTriad{
  background: url('../img/triadpc.png');
}
.portbgTriad2{
  background: url('../img/tpc2.png');
}
.portbgTriad3{
  background: url('../img/tpc3.png');
}
.cashAnalytics{
  background: url('../img/ctl1.png');
}
.cashAnalytics2{
  background: url('../img/ctl2.png');
}
.cashAnalytics3{
  background: url('../img/ctl3.png');
}
.electric{
  background: url('../img/gue1.png');
}
.electric2{
  background: url('../img/gue2.png');
}
.electric3{
  background: url('../img/gue3.png');
}
.portbgTrimobs{
  background: url('../img/trimobs.png');
}
.portbgAnalytic{
  background: url('../img/analytics-invest.png');
}
.portbgLeven{
  background: url('../img/leven.png');
}
.sydneyBG h1{
  z-index: 4;
}
.sydneyBG p{
  margin: 10px;
  letter-spacing: .2rem;
  z-index: 4;
}
.starsbg p{
z-index: 5;
}
.starsbg h1{
z-index: 5;
margin-top: 20px;
font-size: 3rem;
letter-spacing: .3rem;
}
.starsbg{
  height: 80vh;
  color: white;
  background: url('../img/natural-821568_1280.jpg');
}
.bgiParallax{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgiParallax p{
letter-spacing: .1rem;
margin: 10px;
}
.bgi{
  background-size: cover;
  background-position: center;
}
.flexwrap100{
  position: relative;
  width: 100%;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.marg3{
  margin: 30px;
}
.marg5{
  margin: 50px;
}
.pad3{
  padding: 30px;
}
.pad5{
  padding: 50px;
}
.pad7{
  padding: 70px;
}
.pad10{
  padding: 100px;
}
.flexwrap70{
  position: relative;
  width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexwrap50{
  position: relative;
  width: 100%;
  min-height: 50vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexwrap40{
  position: relative;
  width: 100%;
  min-height: 40vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-banner {
  position: relative;
  background: url('../img/nyc-sky.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120vh;
}
#ontheworld{
  margin: -30px 0 0 0 ;
  z-index: 1;
  position: absolute;
  width: 1200px;
}
.image-wrap{
  position: absolute;
  top:0;
  left: 0px;
  width: 1200px;
}
.worldCircle:hover{
  opacity: 1;
}
.worldCircle{
  opacity: 0;
  z-index: 2;
  position: absolute;
  width: 35px;
  height: 35px;
  border: 2px solid orange;
  border-radius: 50%;
  background: rgba(0,0,0, .0)
}
#worldCircle1{
  top: 482px;
  left: 269px;
}
#worldCircle0{
  top: 193px;
  left: 502px;
}
#worldCircle2{
  top: 288px;
  left: 36px;
}
#worldCircle3{
  top: 241px;
  left: 106px;
}
#worldCircle4{
  top: 256px;
  left: 238px;
}
#worldCircle5{
  top: 342px;
  right: 210px;
}
#worldCircle6{
  top: 318px;
  right: 357px;
}
#worldCircle7{
  top: 504px;
  right: 117px;
}
.home-banner-text-wrap{
  width: 100%;
  display: flex;
  z-index: 10;
}
.home-banner-text2{
  height: 40vh;
}
.home-banner-text{
  transform: translate3d(0,0,0);
  margin: 0px 0 0 0 ;
  padding: 20px;
  z-index: 3;
  min-width: 100%;
  height: 20vh;
  background: rgba(0,0,0, .7);
  border-bottom: 1px solid rgba(255,255,255, .6);
  border-top: 1px solid rgba(255,255,255, .6);
  color: white;
  overflow: hidden;
  transition: all .4s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.width100{
  width: 100%;
}
.home-banner-text3{
  transition: all .4s;
}
.home-banner-text3:hover{
  height: 30vh;
  margin-top: -3%;
}
.home-banner-text h1{
  margin-top: 10px;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  font-size: 2.5rem;
}
.home-banner-text p{
  margin: 15px;
  text-align: center;
  letter-spacing: .5rem;
}
.tester:hover{
  height: 10vh;
  position: fixed;
  top:0;
}
.tester{
  position: fixed;
  top:0;
  height: 10vh;
  flex-direction: row;
  font-size: 1rem;
}
.tester h1{
  flex-direction: row;
  font-size: 1rem;
}
.tester p{
  opacity: .0;
}
.grow-box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.home-cta-btn{
  z-index: 2;
  opacity: .7;
  margin: 20px;
  padding: 10px 25px;
  background: rgba(0,0,0, .7);
  color: white;
  border-radius: 3px;
  border: 1px solid white;
  transition: all .5s;
}
.home-cta-btn:hover{
  opacity: 1;
  background: rgba(0,0,0, .8);
}
.home-cta-btn2{
  z-index: 2;
  opacity: .7;
  margin: 20px;
  padding: 10px 25px;
  background: rgba(255,255,255, .7);
  color: black;
  border-radius: 3px;
  border: 1px solid black;
  transition: all .15s;
}
.home-cta-btn2:hover{
  opacity: 1;
  color: white;
  background: rgba(0,0,0, .8);
}
.home-cta-btn3{
  z-index: 2;
  opacity: .7;
  margin: 10px;
  width: 105% !important;
  height: 30px;
  padding: 10px 25px;
  background: rgba(255,255,255, .7);
  color: black;
  border-radius: 3px;
  border: 1px solid black;
  transition: all .15s;
}
.home-cta-btn3:hover{
  opacity: 1;
  color: white;
  background: rgba(0,0,0, .8);
}
/*portfolio-scroller*/
.portfolio-scroller li{
  font-size: 1.5rem;
  margin: 20px;
}
.portfolio-scroller ul{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.portfolio-scroller{
  width:80%;
  height: 40vh;
  border-top: 1px solid rgba(255,255,255, .6);
  border-bottom: 1px solid rgba(255,255,255, .6);
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}
.portfolio-scroller h2:hover{
opacity: 1;
}
.portfolio-scroller h2{
  transition: all .5s;
  opacity: .8;
  width: 15%;
  padding: 10px;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: .2rem;
}
.port-piece p{
  letter-spacing: normal;
}
.overlay-dark{
  z-index: 3;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  background: rgba(0,0,0, .6);
  height: 100%;
}
.overlay-darkmd{
  z-index: 4;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  background: rgba(0,0,0, .4);
  height: 100%;
}
.overlay-darksm{
  z-index: 4;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  background: rgba(0,0,0, .1);
  height: 100%;
}
.piece-wrap{
z-index: 5;
position: fixed;
width: 100%;
height: 100vh;
top:0;
right: 0;
display: flex;justify-content: center;
align-items: center;
}
.piece{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color:white;
  top: 5%;
  right: 5%;
  z-index: 4;
  position: fixed;
  width: 90%;
  height:90%;
  background: rgba(0,0,0, .8);
  border: 1px solid white;
  border-radius: 5px;
}
.piece h1{
margin: 20px;
letter-spacing: .3rem;
}
.piece-content-display{
  display: flex;
  width: 95%;
  height: 80%;
  border: 1px solid rgba(255,255,255, .4);
}
.piece-content-display-half h2{
    font-size: 2.9rem;
    margin: 20px;
}
.piece-content-display-half p{
    font-size: 1.5rem;
    letter-spacing: .1rem;
    margin: 40px;
}
.piece-content-display-half section{

}
.piece-content-display-half{
    overflow: scroll;
  width: 60%;
  height: 100%;
  border: 1px solid rgba(255,255,255,.9)
}
.piece-content-display-half::-webkit-scrollbar {
    display: none;
}
.piece-details{
  height: 100%;
  width: 100%;
}










.piece-content-display-third{
  width: 40%;
  height: 100%;
  border: 1px solid rgba(255,255,255,.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.third-top{
  width: 100%;
  height: 50%;
  border: 1px solid rgba(255,255,255,.9)
}
.third-top{
  overflow: scroll;
}
.third-bottom{
  width: 100%;
  height: 50%;
  border: 1px solid rgba(255,255,255,.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.third-top::-webkit-scrollbar {
    display: none;
}
.third-top img{

  width: 100%;

}
.piece-nav-btn:hover{
  background: rgba(0,0,0, 1);
  opacity: 1;
  font-weight: 400;
}
.piece-nav-btn{
  opacity: .7;
  transition: all .4s;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: .5rem;
  margin: 10px;
  width: 70%;
  height: 20%;
  border: 1px solid white;
}
.peice-screenshots{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.peice-screenshots img{
  width: 90%;
  height: 40%;
  margin: 20px;

}
#exitBtn:hover{
  opacity: 1;
}
#exitBtn{
opacity: .5;
transition: all .3s;
position: absolute;
top:10px;
right: 10px;
width: 10px;
}
/*Backgrounds*/
.bggreyREVERSE{
  background: rgb(224,222,222); /* Old browsers */
background: -moz-linear-gradient(top, rgba(224,222,222,1) 0%, rgba(239,239,239,1) 3%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(224,222,222,1) 0%,rgba(239,239,239,1) 3%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(224,222,222,1) 0%,rgba(239,239,239,1) 3%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0dede', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
}
.bggrey{
  background: rgb(239,239,239); /* Old browsers */
background: -moz-linear-gradient(top, rgba(239,239,239,1) 70%, rgba(224,222,222,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(239,239,239,1) 70%,rgba(224,222,222,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(239,239,239,1) 70%,rgba(224,222,222,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#e0dede',GradientType=0 ); /* IE6-9 */
}
.background-perm{
  background: rgba(0,0,0, .3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  opacity: .3;
}
/*SKILLS SECTION*/
.skills-section{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.skills-box{
  width: 200px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.skills-box img{
  margin: 20px;
  width: 100px;
}
.skills-box p{
  font-size: 1.2rem;
}
/*Contact Section*/
.email-form textarea:hover{
  background: black;
  color:white;
}
.email-form textarea{
  font-size: .9rem;
  transition: all .2s;
  border-radius: 3px;
  border: 1px solid black;
  height: 100%;
  width: 100%;
  margin: 10px;
}
.email-form input:hover{
  background: black;
  color:white;
}
.email-form input{
  font-size: .9rem;
  transition: all .2s;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  width: 100%;
}
.email-form div{
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.email-cta:hover{
  background: white;
  color: black;
}
.email-cta{
  border-radius: 3px;
  transition: all .2s;
  text-align: center;
  background: black;
  color: white;
  width: 40%;
  padding: 10px;
  border: 1px solid black;
}
.email-form{
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 200px;
}
.name-fields{

}
/*portfolio*/
.portfolio{
  display: flex;
}
.portfolio-wrap{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.portfolio h1{
  margin: 40px;
}
.folio-piece{
  height: auto;
}
.portfolio-piece h2{
  margin: 10px;
}
.hover-folio:hover{
  opacity: 1;
}
.hover-folio h2{
  font-size: 2rem;
  letter-spacing: .3rem;
}
.hover-folio h3:hover{
  opacity: 1;
}
.hover-folio h3{
  margin: 50px 0 0 -30px;
  opacity: .6;
  transition:  all .4s;
}
.hover-folio{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .4s;
  top: 12px;
  left: -10px;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0,0,0, .82);
}
.portfolio-piece{
  position: relative;
  text-align: center;
  width: 30%;
  min-width: 250px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.portfolio-piece div{
  margin: 10px;
  border: 1px solid black;
  width: 100%;
  height: 160px;
}
.contact-wrap{
  width: 95%;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  margin: 50px;
}
.contact-wrap div {
  z-index: 5;
}
.contact-wrap div h1{
  margin: 20px;
  font-size: 2rem;
  letter-spacing: .3rem;
}
.contact-wrap div input:focus{
  background: white;
  color: black;
}
.contact-wrap div textarea:focus{
  background: white;
  color: black;
}
.contact-wrap div input{
  transition: all .45s;
  font-size: .9rem;
  letter-spacing: .15rem;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid white;
  width: 80%;
  margin: 10px auto;
  background: rgba(255,255,255, .2);
  color: white;
}
.contact-wrap div textarea{
  transition: all .45s;
  font-size: .9rem;
  letter-spacing: .15rem;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid white;
  width: 80%;
  margin: 10px auto;
  background: rgba(255,255,255, .2);
  color: white;
}
.contact-wrap div textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
.contact-wrap div input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
#email-submit:hover{
background: rgba(255,255,255, 1);
color: black;
}
#email-submit{
  position: absolute;
  bottom: 224px;
  right: 140px;
  width: 120px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 5;
  background: rgba(255,255,255, .1);
  font-weight: 400;
  border: 1px solid white;
}
#sent-email{
  display: none;
}
.backToTop{
  transition: all .3s;
}
.backToTop:hover{
  padding: 0 0 5px 0;
  border-bottom: 1px solid rgba(0,0,0, .2);
}
#required-email{
  display: none;
}
.contact-wrap div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45%;
  height: 50vh;
}
/*Portfolio pieces */
.folio-piece-dark{
  z-index: 40;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.folio-piece{
  z-index: 50;
  position: fixed;
  top:5%;
  left: 10%;
  height: 90%;
  width: 80%;
  border-radius: 5px;
  background: white;
}
.folio-head img:hover{
  opacity: 1;
  border: 1px solid rgba(0,0,0, .2);
}
.folio-head img{
  border: 1px solid rgba(0,0,0, 0);
  padding: 4px;
  transition: all .6s;
  position: absolute;
  right: 5px;
  top: 4px;
  width: 18px;
  opacity: .5;
  border-radius: 2px;
}
.folio-head{
  width: 100%;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0, .1);
}
.tech-used h2{
  display: inline-block;
}
.tech-used p{
  margin: 0 0 0 20px;
}
.tech-used h3{
  display: inline-block;
  border-bottom: 1px solid black;
  padding: 3px;
  margin: 10px;
}
.tech-used{
  margin: 30px 0 0 10px ;
}
.viewProject:hover{
  padding: 5px;
  border-bottom: 1px solid rgba(0,0,0, .15);
  opacity: 1;
}
.viewProject{
  padding: 5px;
  border-bottom: 1px solid rgba(0,0,0, .0);
  transition: all .4s;
  width: 70%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 15% 0 15%;
  opacity: .5;
}
.images div{
  border: 1px solid rgba(0,0,0, .2);
  width: 30%;
  height: 90%;
  margin: 10px;
}
.images{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin:4% 5% 10% 5%;
  height: 30%;
  border-radius: 5px;
}
/*Slider*/
