@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,700,800,900');
body{
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}
h1{
  font-size: 4rem;
}
@-webkit-keyframes rotate {
  from { -webkit-transform:rotate(0deg); }
  to { -webkit-transform:rotate(360deg); }
}

@-moz-keyframes rotate {
  from { -moz-transform:rotate(0deg); }
  to { -moz-transform:rotate(360deg); }
}

@-ms-keyframes rotate {
  from { -ms-transform:rotate(0deg); }
  to { -ms-transform:rotate(360deg); }
}

@-o-keyframes rotate {
  from { -o-transform:rotate(0deg); }
  to { -o-transform:rotate(360deg); }
}
@keyframes fade {
    0%   {opacity: .0 }
    90%  {opacity: 1}
}
@keyframes fadeh2 {
    0%   {opacity: .0; padding: 0 0 107px 450px; }
    90%  {opacity: 1; padding: 0 0 107px 550px;}
}
.new-top-section{
  height: 100vh;
  background: url('../img/top-gradient.png');
  background-size: cover;
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.new-top-header{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 500;
}
.new-top-header h1{
  color:white;
  z-index: 600;
}
.mini-flex-section{
  display: flex;
  justify-content: center;
}
.mini-flex-section img{
  opacity: .4;
width:35px;
height: 42px;
transform: rotate(270deg);
margin: 20px;
transition: all 1s;
}
.mini-flex-section img:hover{
  opacity: 1;
}
.top-section{
  background: url("../img/mapeasternUS copy.jpg");
  background-size: cover;
  background-position: left;
  height: 100vh;
  position: relative;
  z-index: 888;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*.top-section-overlay{
  background: url("../img/qZIpcWf copy.png");
  background-position: center;
  background-size: cover;
  opacity: .1;
  z-index: 1000;
  position: absolute;
  height: 100vh;
  width: 100%;
}*/
.top-section h1{
  animation-name: fade;
animation-duration: 5s;
  font-weight: 200;
  color: white;
  font-size: 5em;
  padding: 100px 0 25px 306px;
}
.top-section-cat li{
  display:inline-block;
  padding: 0 10px 0 10px;
  text-transform: uppercase;
  color:white;
}
.top-section-cat li:hover{
  opacity: .5;
}
.top-section-cat ul li .no-opacity:hover{
  opacity: .08;
}
.top-section-cat img{
  width:18px;
  opacity: .08;
}
.top-section-cat{
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: fadeh2;
animation-duration: 5s;
  font-weight: 100;
  color: white;
  font-size: 1.8em;
  padding: 0 0 107px 550px;
}

.top-section-img-hold{
  opacity: .6;
  left: 30%;
  top: 28%;
  position: absolute;
  display: flex;
}
#outer-cross{
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 30.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  opacity: .8;
  width: 180px;
  position: absolute;
}
@keyframes flick {
    0%   {opacity: .0}
    15%  {opacity: .0}
    16%  {opacity: 1}
    17%  {opacity: .0}
    18%  {opacity: 1}
    29% {opacity: 1}
    30%  {opacity: .0}
    31%  {opacity: 1}
    70%  {opacity: 1}
    71%  {opacity: .7}
    81%  {opacity: .7}
    82%  {opacity: 1}
}
#inner-cross{
  animation-name: flick;
animation-duration: 5s;
  width: 120px;
  position: absolute;
  top:30px;
  left:30px;
}
.splitter{
  height: 30vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.splitter img{
  width: 100px;
}
.design-section img{
  width:100%;
}
.design-section{
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../img/macbook-pro-dorsey.png") no-repeat;
  background-position: left 70px top 20px;
  background-size: 60%;
  height: 58vh;
  position: relative;
}
.design-section h1{
  border-bottom: 2px solid black;
  padding: 100px 80px 5px 0;
  margin-left: 300px;
  font-weight: 200;
  font-size: 6rem;
  text-transform: uppercase;
}
.design-section-mini-text{
  padding: 5px 0 10px 0;
  margin-left: -14px;
  font-size: .8rem;
  color: rgba(0,0,0, .3);
  font-weight: 500;
  text-transform: uppercase;
}
.design-section-links {
  color: black;
  text-decoration: none;
  padding-left: 450px;
}
.design-section-links a{
  color: black;
  text-decoration: none;
}
.design-section-links a:hover{
opacity: .6;
}

.design-section-links li{
    font-weight: 300;
  display: inline-block;
  padding: 5px 0 0 70px;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.design-section-links{
}
.scroll-images-section{
  display: flex;
  justify-content:center;
  height: 50vh;
}
.scroll-images{
margin: 20px;
border: 2px solid rgba(0,0,0, .4);
  overflow: auto;
  height: 50vh;
  width: 25%;
  border-radius: 10px;
  opacity: .6;
  transition: all 1s;

}
.scroll-images:hover{
  opacity: 1;
}
.scroll-images::-webkit-scrollbar { width: 0 !important } img{
  width: 100%;
}
.scroll-img-title{
  padding: 50px;
  text-transform: uppercase;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.scroll-img-title h1{
  padding: 40px 0 5px 0 ;

}
.scroll-img-title span{
  display: inline-block;
  font-size: 1.3rem;
  padding: 0 0 20px 0;
}
/*.spacer-quote{
  background: #d3d3d3;
  padding: 100px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}*/
.spacer-quote{
  width:100%;
  display: none;
  border-top: 2px solid rgba(80,189,225, .5);
  border-bottom: 2px solid rgba(80,189,225, .5);
}
.spacer-quote h3{
font-size: 2.2rem;
padding: 0 0 50px 0;
}
.development-section{
  height: 100vh;
  width: 100%;
  border-top: 2px solid #49c6e5;
}
.devleopment-section-left{
  height: 100vh;
  float:left;
  background-color: #49c6e5;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.devleopment-section-left h1{
  font-size: 2.5rem;
  margin-left: -16px;
  color: white;
}
.devleopment-section-left img{
  width: 160px;
  border-left: 2px solid white;
}
.shower{
  display: block;
}
/*.shower{
  background: #d3d3d3;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}*/
.about-dash{
  position:absolute;
}
.dash-div-one{
  height: 50px;
  width: 130px;
  border-bottom: 2px dashed white;
    border-right: 2px dashed white;
}
.dash-div-two{
  position: absolute;
  height: 220px;
  width: 255px;
  margin-left: 128px;
  top: -218px;
  border-left: 2px dashed white;
  border-top: 2px dashed white;
}
.devleopment-section-right{
  margin-top: 60px;
}
.development-section-span{
  padding: 20px;
  margin-left: 20px;
}













































.
